<template>
  <div class="home-index">
    <div class="wrap">
      <el-icon class="icon_c no-inherit" @click="handleClick('PurchaseOrder')" :size="40" color="#409EFC">
        <Folder />
      </el-icon>
      进货单
    </div>
    <div class="wrap">
      <el-icon class="icon_c no-inherit" @click="handleClick('SalesSlip')" :size="40" color="#409EFC">
        <Folder />
      </el-icon>
      销售单
    </div>
    <div class="wrap">
      <el-icon class="icon_c no-inherit" @click="handleClick('Warehouse')" :size="40" color="#409EFC">
        <Folder />
      </el-icon>
      仓库
    </div>
  </div>
</template>
<script setup lang="ts">
import { ipcRenderer } from 'electron';
import { Folder } from '@element-plus/icons';
import { useRouter } from 'vue-router'

const router = useRouter();

// const open = () => {
//   ipcRenderer.send('openFlyCar')
// }

const handleClick = (name: string) => {
  router.push({ name });
}

ipcRenderer.on('load', (_, data) => {
  console.log('load', data)
})

</script>
<style scoped lang="scss">
.home-index {
  height: 100%;
  width: 100%;
  display: flex;

  .wrap {
    cursor: pointer;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon_c {
      width: 40px;
      height: 40px;
    }
  }
}
</style>