<template>
  <div>
    <div>进货单</div>
    <el-table :data="tableData" border style="width: 100%">
      <el-table-column fixed prop="date" label="日期" />
      <el-table-column prop="name" label="姓名" />
      <el-table-column prop="province" label="省份" />
      <el-table-column prop="city" label="市区" />
      <el-table-column prop="address" label="地址" width="240" />
      <el-table-column prop="zip" label="邮编" />
      <el-table-column label="操作" width="140">
        <template #default="scope">
          <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
          <el-button type="text" size="small">编辑</el-button>
        </template>
      </el-table-column>
    </el-table>

    <GoBack />
  </div>
</template>
<script setup lang="ts">

const tableData = [
  {
    date: '2016-05-02',
    name: '王小虎',
    province: '上海',
    city: '普陀区',
    address: '上海市普陀区金沙江路 1518 弄',
    zip: 200333,
  },
  {
    date: '2016-05-04',
    name: '王小虎',
    province: '上海',
    city: '普陀区',
    address: '上海市普陀区金沙江路 1517 弄',
    zip: 200333,
  }]

const handleClick = (row: any) => {
  console.log(row)
}
</script>
<style scoped lang="scss"></style>