<template>
  <div @click="toHome" class="back-home" :style="{ bottom: bottom + 'px', left: left + 'px' }" @touchstart="start"
    @touchmove.prevent="move">
    <img src="../static/return.png" />
  </div>
</template>

<script  lang="ts">
import { useRouter } from 'vue-router'

export default {

  props: {
    backUrl: String,
    selfJump: Function
  },
  setup(props) {
    const router = useRouter();
    let bottom = 112;
    let left = 0;
    let pageY = 0;


    const toHome = () => {
      if (props.selfJump) {
        return props.selfJump();
      }
      if (props.backUrl) {
        return router.push({ name: props.backUrl });
      }
      router.push({ name: 'Home' });
    }

    const start = (e: any) => {
      let page = e.changedTouches[0];
      pageY = page.pageY;
    }
    const move = (e: any) => {
      let page = e.changedTouches[0];
      let y = page.pageY - pageY;
      pageY = page.pageY;
      left = 0;
      if (bottom - y > 530) {
        bottom = 530;
      }
      if (bottom - y < 530 && bottom - y >= 80) {
        bottom = bottom - y;
      }
      if (bottom - y < 80) {
        bottom = 80;
      }
    }

    return {
      bottom,
      left,
      pageY,
      toHome,
      start,
      move
    }
  }
}

</script>

<style lang="scss" scoped>
.back-home {
  width: 51px;
  height: 50px;
  position: fixed;
  z-index: 999 !important;

  .text {
    color: #fff;
    font-size: 14px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
</style>
