<template>
  <div>
    <el-dialog title="编辑" v-model="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="日期">
          <el-input v-model="form.date"></el-input>
        </el-form-item>
        <el-form-item label="姓名">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="省份">
          <el-select v-model="form.province" placeholder="请选择省份">
            <el-option label="省份1" value="shanghai"></el-option>
            <el-option label="省份2" value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="市区">
          <el-select v-model="form.city" placeholder="请选择市区">
            <el-option label="市区1" value="shanghai"></el-option>
            <el-option label="市区2" value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="地址">
          <el-input v-model="form.address"></el-input>
        </el-form-item>
        <el-form-item label="邮编">
          <el-input v-model="form.zip"></el-input>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="close">取 消</el-button>
          <el-button type="primary" @click="submit">确 定</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script setup lang="ts">
import { nextTick, reactive, ref, watch, } from 'vue';

const props = defineProps({
  isShow: Boolean,
  item: Object
});

interface Form {
  date: string,
  name: string,
  province: string
  city: string
  address: string
  zip: string
}
watch(
  () => props.isShow,
  (flag, _) => {
    nextTick(async () => {
      dialogFormVisible.value = flag;
    })
  }, { deep: true, immediate: true }
)
watch(
  () => props.item,
  (item, _) => {
    nextTick(async () => {
      form = <Form>item;
    })
  }, { deep: true, immediate: true }
)

const emit = defineEmits(['dialogClose']);

let dialogFormVisible = ref(false);
let form: Form = <Form>reactive({})

const close = () => {
  dialogFormVisible.value = false;
  emit('dialogClose');
}
const submit = () => {
  console.log({ ...form });
  dialogFormVisible.value = false;
}
</script>
<style scoped lang="scss"></style>